**Building a meaning single dataframe using PANDAS**

In [19]:
import pandas as pd
import datetime as dt
import pandas_datareader.data as web

In [41]:
# Get the SPY - ETF data from the web
start = dt.datetime(2010, 1, 1)
end = dt.datetime(2010, 1, 30)
dfSPY = web.DataReader("SPY", "yahoo", start=start, end=end)

In [95]:
def build_dataframe():
    # Define the date range we want
    start = '2010-01-01'
    end = '2010-01-30'
    dates = pd.date_range(start, end) # We get all the date range between the specify start and end date
    df1 = pd.DataFrame(index=dates) # We created a dataframe with no columns but the index of the dates instead of 0-10...
    # Let's combine the empty dataframe to SPY dataframe using join()
    df1 = df1.join(dfSPY) # the default join is a left join here
    df1 = dfSPY.rename(columns={"Adj Close": "SPY"})
    # Let's drop the row that containd NaN Values
    df1 = df1.dropna()
    # Or we could just fill those NaN Values with 0 (ZEROS)
#     df1 = df1.fillna(0)
    print(df1['SPY'])
    
build_dataframe()

Date
2010-01-04    91.841896
2010-01-05    92.084984
2010-01-06    92.149803
2010-01-07    92.538841
2010-01-08    92.846756
2010-01-11    92.976433
2010-01-12    92.109291
2010-01-13    92.887291
2010-01-14    93.138481
2010-01-15    92.093094
2010-01-19    93.243866
2010-01-20    92.295685
2010-01-21    90.520943
2010-01-22    88.503036
2010-01-25    88.956871
2010-01-26    88.584091
2010-01-27    89.005501
2010-01-28    87.984398
2010-01-29    87.028137
Name: SPY, dtype: float64

**We need more than SPY data let's get for more stock and join their adj close into a single dataframe**

In [70]:
tickers = {"S&P": "SPY", "Google": "GOOGL", "IBM": "IBM", "Gold": "GLD"}
prices = []

print("Starting process...")
for company, tic in tickers.items():
    df = web.DataReader(tic, 'yahoo', start=start, end=end)
    prices.append(df)
    print(f"Got {company} dataset...")
print("Process successful exiting now!")

prices = pd.concat(prices, axis=1)

Starting process...
Got S&P dataset...
Got Google dataset...
Got IBM dataset...
Got Gold dataset...
Process successful exiting now!

In [98]:
# Now we'll loop through the data and join into a single dataframe
start = '2010-01-01'
end = '2010-01-30'
dates = pd.date_range(start, end)
df2 = pd.DataFrame(index=dates)
symbols = ['GOOG', 'IBM', 'GLD']
for symbol in symbols:
    df_multi = df2.join(prices)
    df_multi = prices.rename(columns={"Adj Close": symbol})

df_multi = df_multi.dropna()
print(df_multi.head())

                  High         Low        Open       Close     Volume  \
Date
2010-01-04  113.389999  111.510002  112.370003  113.330002  118944600
2010-01-05  113.680000  112.849998  113.260002  113.629997  111579900
2010-01-06  113.989998  113.430000  113.519997  113.709999  116074400
2010-01-07  114.330002  113.180000  113.500000  114.190002  131091100
2010-01-08  114.620003  113.660004  113.889999  114.570000  126402800

                  GLD        High         Low        Open       Close  ...  \
Date                                                                   ...
2010-01-04  91.841896  315.070068  312.432434  313.788788  313.688690  ...
2010-01-05  92.084984  314.234222  311.081085  313.903900  312.307312  ...
2010-01-06  92.149803  313.243256  303.483490  313.243256  304.434448  ...
2010-01-07  92.538841  305.305298  296.621613  305.005005  297.347351  ...
2010-01-08  92.846756  301.926941  294.849854  296.296295  301.311310  ...

                  Open       Close   Volume        GLD        High  \
Date
2010-01-04  131.179993  132.449997  6155300  93.500313  110.139999
2010-01-05  131.679993  130.850006  6841400  92.370834  110.389999
2010-01-06  130.679993  130.000000  5605300  91.770790  111.769997
2010-01-07  129.869995  129.550003  5840600  91.453102  111.290001
2010-01-08  129.070007  130.850006  4197200  92.370834  111.580002

                   Low        Open       Close    Volume         GLD
Date
2010-01-04  109.309998  109.820000  109.800003  16224100  109.800003
2010-01-05  109.260002  109.879997  109.699997  14213100  109.699997
2010-01-06  110.410004  110.709999  111.510002  24981900  111.510002
2010-01-07  110.620003  111.070000  110.820000  13609800  110.820000
2010-01-08  110.260002  111.519997  111.370003  15894600  111.370003

[5 rows x 24 columns]